section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 90%;
  padding: 10px 0;
  margin: 0 auto;
  gap: 60px;
  margin-top: 40px;
  background-color: #ffffff;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 20px;
}

h2 {
  color: black;
  font-size: 27px;
  font-weight: 400;
  margin: 0;
}

h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 8px;
}

.images-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images-box label {
  width: 50dvh;
  height: 45dvh;
  border-radius: 8px;
  cursor: pointer;
  filter: drop-shadow(2px 2px rgb(214, 214, 214));
  background-color: #f3f3f3;
  color: #272727;
}

.images-box label:hover{
  size: 1.01;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  transform: scale(1.01);
}

.images-box img {
  width: 50dvh;
  object-fit: cover; 
  border-radius: 8px;
}

.images-box input {
  display: none;
}

form {
  background-color: #2140AE;
  width: 45%;
  min-width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 20px ;
  margin: 20px 0px;
  border-bottom: 2px solid #242424;
  border-radius: 10px;
}
 

.input-text {
  width: 90%;
  height: 40px;
  min-width: 300px;
  max-height: 80px;
  margin: 0 auto;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  text-align: center;
}

textarea {
  width: 85%;
  max-width: 85%;
  min-height: 50px;
  min-width: 300px;
  padding: 10px;
}

.btn-aceptar {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #3a95ff;
  border: none;
  border-bottom: 2px solid #272727;
  border-radius: 20px;
  color: #ffffff;
  width: 60%;
  height: 40px;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
}

.btn-aceptar:hover{
  background-color: #144379;
}

.btn-cancelar {
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #ff3d3d;
  border-radius: 20px;
  border: none;
  border-bottom: 2px solid #272727;
  color: #ffffff;
  width: 60%;
  height: 40px;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
}

.btn-cancelar:hover{
  background-color: #6e1010;
}


@media (max-width: 1070px) {
  .images-box label {
    width: 45dvh;
    height: 40dvh;
  }
}


@media (max-width: 880px) {
  section {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  form{
    width: 80%;
  }

  .images-box {
    display: flex;
    flex-direction: column;
  }

  .image-label {
    width: 100%; 
    height: 15vh; 
  }

  h2, h5 {
    font-size: 22px;
  }
}
