<div class="top">
  <h2 mat-dialog-title>Registrarse</h2>
  <span class="close" [mat-dialog-close]="false" type="button">&times;</span>
</div>

<div class="modal-content">
  <form [formGroup]="registerForm">
    
    <mat-form-field style="margin-bottom: 0;">
      <mat-label>Nombre:</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field style="margin-bottom: 0;">
      <mat-label>Nombre de Usuario:</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    
    <div *ngIf="registerForm.get('username')?.touched && usernameErrors" class="error-message">
      {{ usernameErrors }}
    </div>
    
    <mat-form-field>
      <mat-label>Correo Electrónico:</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña:</mat-label>
      <input type="password" matInput formControlName="password" (input)="checkPasswordStrength()">
    </mat-form-field>
    
    <div *ngIf="passwordStrength">
      <mat-progress-bar [value]="passwordStrengthValue" color="{{passwordStrengthColor}}"></mat-progress-bar>
      <span>{{ passwordStrength }}</span>
    </div>
    
    <mat-form-field>
      <mat-label>Confirmar Contraseña:</mat-label>
      <input type="password" matInput formControlName="rePassword">
    </mat-form-field>
    
    <div style="display:flex; justify-content: space-around; align-items: center;">
      <mat-label>¿Quieres ofertar tus propiedades?</mat-label>
      <mat-checkbox formControlName="isOwner"></mat-checkbox>
    </div>

    <div mat-dialog-actions class="bottom">
      <button mat-raised-button type="button" [mat-dialog-close]="false" (click)="onRegister()">Registrarse</button>
    </div>
    
    <a mat-menu-item [mat-dialog-close]="false" type="button" (click)="openLogIn()">¿Ya tienes una cuenta?</a>
  </form>
</div>
