.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 15px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
  margin: 0 !important;
}

mat-form-field{
  margin-bottom: -10px !important;
  height: min-content !important;
}

mat-progress-bar {
  margin: 10px 0;
}

.close {
  font-size: 1.5rem;
  cursor: pointer;
}
.error-message {
  color: red;
  font-size: 12px;
  margin: -15px 0 3px 0;
}