<div class="top">
    <h2 mat-dialog-title>Registrarse</h2>
    <span class="close" [mat-dialog-close]="false" type="button">&times;</span>
  </div>
  
  <div class="modal-content">
    <form [formGroup]="registerForm">
      <mat-form-field>
        <mat-label for="username">Nombre de Usuario:</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label for="email">Correo Electrónico:</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label for="password">Contraseña:</mat-label>
        <input type="password" matInput formControlName="password" (input)="checkPasswordStrength()">
      </mat-form-field>
  
      <!-- Barra de seguridad de la contraseña -->
      <div *ngIf="passwordStrength">
        <mat-progress-bar [value]="passwordStrengthValue" color="{{passwordStrengthColor}}"></mat-progress-bar>
        <span>{{ passwordStrength }}</span>
      </div>
  
      <mat-form-field>
        <mat-label for="rePassword">Confirmar Contraseña:</mat-label>
        <input type="password" matInput formControlName="rePassword">
      </mat-form-field>
  
      <div mat-dialog-actions class="bottom">
        <button mat-raised-button type="button" [mat-dialog-close]="false" (click)="onRegister()">Registrarse</button>
      </div>
  
      <a mat-menu-item [mat-dialog-close]="false" type="button" (click)="openLogIn()">¿Ya tienes una cuenta?</a>
    </form>
  </div>
  