.container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px 20px;
    background-color: #ffffff;
    color: #fff;
    flex-wrap: wrap;
}

.logo {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px;
    height: 50px;
    margin-right: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.3);
    flex: 1;
    max-width: 900px;

}

.search-bar input {
    border: none;
    padding: 10px;
    font-size: 14px;
    outline: none;
    width: 100%;
    margin: 10px;
    height: 20px;
}

.search-bar input[type="date"] {
    font-size: 10px;
    margin-left: 10px;
}

.search-bar input:not(:last-child) {
    border-right: 1px solid #a7a7a7;
}

.search-bar input:nth-last-child(2) {
    border-right: 1px solid #ffffff;
}

.search-button {
    background-image: url("/search.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
}

.right-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    width: 130px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    background-color: white;
}

.menu-btn {
    display: flex;
    width: 40px;
    margin: 0 0;
    padding: 0 auto;
    justify-content: center;
    align-items: center;
}
.menu-btn img{
    margin-top: 6px;
    width: 50%;
    cursor: pointer;
}

.user-icon{
    width:50px;
    border-radius: 50%;
    cursor: default;
}