<section class="house-detailing">
    <div class="house-images">
        <nav *ngFor="let photo of property.photos">
            <img [src]="photo.url" alt="img" />
        </nav>
    </div>
    <div class="house-content">
        <div class="header-house">
            <h2>{{ property.title }}</h2>
            <p><span>Dirección:</span> {{ property.address}}</p>
            <p><span>Descripción:</span> {{ property.description }}</p>
            <p><span>Habitaciones:</span> {{ property.bedrooms}}</p>
            <p><span>Baños:</span> {{ property.bathrooms}}</p>
            <p><span>Capacidad:</span> {{ property.capacity }}</p>
        </div>
        <div class="price">
            <h3><span class="bold">${{ property.pricePerNight }} COP</span> por noche</h3>
            <p>Solicítala con el arrendador</p>
            <button>Solicitar</button>
        </div>
    </div>
</section>


<section class="reviews-detailing">
    <div class="reviews">
        <h3>Comentarios</h3>
        <div *ngFor="let review of property.reviews" class="review">
            <img [src]="review.user.profilePicture || 'user.png'" alt="">
            <p>{{ review.user.name}}</p>
            <p><span>Comentario:</span> {{ review.comment }}</p>
        </div>
        <div *ngIf="!property.reviews">
            <p>No hay comentarios aún.</p>
        </div>
    </div>
</section>

<section class="user-datiling">
    <h3>Información del propietario</h3>
    <img [src]="property.user!.profilePicture || 'user.png'" alt="owner"  />
    <p><span>Nombre:</span> {{ property.user!.name }}</p>
    <p><span>Email:</span> {{property.user!.email }}</p>
</section>

