<app-search-bar (search)="onSearch($event)"/>
<section class="house-gallery">
  <ul class="house-list">
    @for (property of properties(); track $index) {
      @defer () {
        <a class="house-item" (click)="goToHouseDetail(property.id!)">
          <img [ngSrc]="property.photos[0]!.url" alt="" width="80" height="50">
          <h3>{{ capitalizeFirstLetter(property.title) }}</h3>
          <h6>{{ capitalizeFirstLetter(property.address) }}</h6>
          <p>Precio: $ {{ property.pricePerNight }}</p>
        </a>
      }
    }
  </ul>
</section>
