app-search-bar {
  margin: 0 auto;
}

.house-gallery {
  display: flex;
  justify-content: center;
}

.house-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
}

.house-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: transform 0.2s;
}
.house-item:hover {
  transform: scale(1.05);
}

.house-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.house-item h3 {
  font-size: large;
  color: #2140ae;
  margin: 0;
  padding: 0;
}

.house-item h6 {
  padding: 0 10px;
  font-size: small;
  line-height: normal;
  color: #666;
}

.house-item p {
  padding: 0 10px;
  font-size: medium;
  margin-bottom: 10px;
}
