<section>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form">
    <div class="form-group">
      <label>Foto de Perfil:</label>
      <label class="photo" for="photo">
        <img title="Change" [src]="uploadedPhoto">
      </label>
      <input style="display: none;" type="file" id="photo" (change)="onFileUpload($event)">
    </div>
  
    <div class="form-group" >
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" placeholder="Username">
      <p *ngIf="profileForm.get('username')?.invalid && profileForm.get('username')?.touched" class="error">
        El nombre de usuario es obligatorio y debe tener al menos 3 caracteres.
      </p>
    </div>
  
    <div class="form-group">
      <label for="biography">Biografía:</label>
      <textarea placeholder="Biografía" style="min-height: 50px;" id="biography" formControlName="biography"></textarea>
      <p *ngIf="profileForm.get('biography')?.invalid && profileForm.get('biography')?.touched" class="error">
        La biografía no debe exceder los 500 caracteres.
      </p>
    </div>
  
    <div class="form-group">
      <label for="password">Contraseña Nueva:</label>
      <input placeholder="Contraseña Nueva" type="password" id="password" formControlName="password">
      <p *ngIf="profileForm.get('password')?.invalid && profileForm.get('password')?.touched" class="error">
        La contraseña debe tener al menos 8 caracteres.
      </p>
    </div>
  
    <div class="form-group">
      <label for="confirmPassword">Confirmar Contraseña:</label>
      <input placeholder="Confirmar Contraseña" type="password" id="confirmPassword" formControlName="confirmPassword">
      <p *ngIf="profileForm.hasError('notSame')" class="error">
        Passwords do not match.
      </p>
    </div>
  </form>
  <div class="final-btns">
    <button type="submit" (click)="onSubmit()">Guardar cambios</button>
    <a [routerLink]="['/home']">Volver</a>
  </div>
</section>