<section>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form">
    <div class="form-group">
      <label>Profile Photo:</label>
      <label class="photo" for="photo">
        <img title="Change" [src]="uploadedPhoto">
      </label>
      <input style="display: none;" type="file" id="photo" (change)="onFileUpload($event)">
    </div>
  
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" placeholder="Username">
      <p *ngIf="profileForm.get('username')?.invalid && profileForm.get('username')?.touched" class="error">
        Username is required and must be at least 3 characters long.
      </p>
    </div>
  
    <div class="form-group">
      <label for="biography">Biography:</label>
      <textarea placeholder="Biography" style="min-height: 50px;" id="biography" formControlName="biography"></textarea>
      <p *ngIf="profileForm.get('biography')?.invalid && profileForm.get('biography')?.touched" class="error">
        Biography must not exceed 500 characters.
      </p>
    </div>
  
    <div class="form-group">
      <label for="password">New Password:</label>
      <div class="password-container">
        <input [type]="passwordType" placeholder="Password" id="password" formControlName="password">
        <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
          👁️
        </button>
      </div>
      <p *ngIf="profileForm.get('password')?.invalid && profileForm.get('password')?.touched" class="error">
        Password must be at least 8 characters long.
      </p>
    </div>
  
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <div class="password-container">
        <input [type]="confirmPasswordType" placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword">
        <button type="button" class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
          👁️
        </button>
      </div>
      <p *ngIf="profileForm.hasError('notSame')" class="error">
        Passwords do not match.
      </p>
    </div>  
  </form>
  <div class="final-btns">
    <button type="submit" (click)="onSubmit()">Save Changes</button>
    <a [routerLink]="['/home']">Volver</a>
  </div>
</section>
