<!-- ToDo: Falta mejorar la distribución y los estilos de la vista -->
<section>
  <div class="left-container">
    <h2>Sube al menos 4 fotos de la propiedad</h2>
    <div class="images-box">
      @for (image of uploadedUrls; track image) {
        <article>
          <img src="{{ image.url }}" />
          <span class="trash-icon" (click)="deleteImage(image.url)">🗑️</span>
        </article>
      }
      <label id="addPhoto" title="Upload Image" for="file">
        <img src="add.png"/>
      </label>
      <input type="file" id="file" (change)="uploadImage($event)" />
    </div>
  </div>
  <form [formGroup]="createPropertyForm">
    <h5>Título</h5>
    <input
      type="text"
      class="input-text"
      placeholder="Título de la propiedad"
      required
      formControlName="title"
    />

    <h5>Dirección</h5>
    <input
      type="text"
      class="input-text"
      placeholder="Dirección"
      required
      formControlName="address"
    />

    <input
      type="number"
      class="input-text"
      placeholder="Alcobas"
      required
      formControlName="bedrooms"
    />

    <input
      type="number"
      class="input-text"
      placeholder="Capacidad max."
      required
      formControlName="capacity"
    />

    <input
        type="number"
        class="input-text"
        placeholder="Baños"
        required
        formControlName="bathrooms"
    />

    <h5>Descripción</h5>
    <textarea
        class="input-text"
        placeholder="Descripción"
        required
        formControlName="description"
    ></textarea>

    <h5>Precio por noche</h5>
    <input
        type="number"
        class="input-text"
        placeholder="Precio por noche"
        required
        formControlName="price"
    />

    <button class="btn-aceptar" (click)="onSubmit()">Aceptar</button>
    <button class="btn-cancelar" (click)="onCancel()">Cancelar</button>
  </form>
</section>
