section {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 0 10px;
  background-color: #ffffff;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 20px;
}

h2 {
  color: black;
  font-size: 25px;
  font-weight: 400;
}

h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 8px;
}

.left-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.images-box{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.images-box input {
  display: none;
}

article{
  width: 250px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
} 

article:hover{
  size: 1.01;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
  transform: scale(1.01);
  border-radius: 8px;
}

article img{
  width: 100%;
  height: 150px;
  object-fit: cover; 
  border-radius: 8px;
}

.trash-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  color: #d00000 !important;
  background-color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

article:hover .trash-icon {
  opacity: 1;
}

article:hover .trash-icon:hover {
  opacity: 0.7;
}

#addPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 150px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f3f3f3;
  filter: drop-shadow(3px 3px rgb(214, 214, 214));
}

#addPhoto:hover{
  size: 1.01;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  transform: scale(1.01);
}

#addPhoto img{
  height: 50%;
  background-color: inherit;
}

form {
  background-color: #2140AE;
  width: 30%;
  min-width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 20px ;
  margin: 20px 0px;
  border-bottom: 2px solid #242424;
  border-radius: 10px;
}
 

.input-text {
  width: 90%;
  height: 40px;
  min-width: 300px;
  max-height: 80px;
  margin: 0 auto;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  text-align: center;
  font: inherit;
}

textarea {
  width: 85%;
  max-width: 85%;
  min-height: 50px;
  min-width: 300px;
  padding: 10px;
  font: inherit;
}

.btn-aceptar {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #3a95ff;
  border: none;
  border-bottom: 2px solid #272727;
  border-radius: 20px;
  color: #ffffff;
  width: 60%;
  height: 40px;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
}

.btn-aceptar:hover{
  background-color: #144379;
}

.btn-cancelar {
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #ff3d3d;
  border-radius: 20px;
  border: none;
  border-bottom: 2px solid #272727;
  color: #ffffff;
  width: 60%;
  height: 40px;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
}

.btn-cancelar:hover{
  background-color: #6e1010;
}


@media (max-width: 1070px) {
  .left-container label {
    width: 45dvh;
    height: 40dvh;
  }
}


@media (max-width: 880px) {
  section {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  form{
    width: 80%;
  }

  .left-container {
    display: flex;
    flex-direction: column;
  }

  .image-label {
    width: 100%; 
    height: 15vh; 
  }

  h2, h5 {
    font-size: 22px;
  }
}
