section {
    margin: -15px auto 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.3);
    flex: 1;
    max-width: 85dvw;
}

section input {
    border: none;
    padding: 10px;
    font-size: 14px;
    outline: none;
    width: 100%;
    margin: 10px;
    height: 20px;
}

section input[type="date"] {
    font-size: 10px;
    margin-left: 10px;
}

section input:not(:last-child) {
    border-right: 1px solid #a7a7a7;
}

section input:nth-last-child(2) {
    border-right: 1px solid #ffffff;
}

.search-button {
    background-image: url("/search.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    margin-right: 20px;
    margin-top: 5px;
    
}


@media (max-width: 640px) {
    section{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    section input{
        width: 40%;
    }

    .search-button{
        display: none;
    }
}

@media (max-width: 485px) {
    section{
        width: 50dvw;
    }
}