/* You can add global styles to this file, and also import other style files */

    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        min-height: 100%;
        position: relative;
        flex-direction: column;
    }

    main{
        min-height: 100vh;
    }

    

    body {
        color: #333;
        min-width: 375px;
        min-height: 370px;
        margin: 0; 
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }


/*----------- Modals style--------------- */
    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
    }

    .top h2{
        text-align: start;
        padding: 0;
        margin-bottom: 5px;
    }

    .close {
        overflow: hidden;
        margin: 2px, 10px, 0 0;
        color: #aaa;
        float: right;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: #fff;
        text-align: center;
        margin: 0 0 20px 0;
        padding: 15px 0px;
        border: 1px solid #888;
        width: 85%;
        border-radius: 8px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

    .modal-content form {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .modal-content button {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        border: none;
        background-color: #2140AE;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
    }

    .modal-content button:hover {
        background-color: #182D77;
    }

    .modal-content a {
        margin: 0 auto;
        color: #3a4b83;
        padding-bottom: 1px;
        cursor: pointer;
    }

/*----------- \ Modals style \--------------- */


    footer {
        background-color: black;
        color: white;
        height: fit-content;
        padding: 10px;
        text-align: center;
    }

@media screen and (max-width: 650px) {

    .content {
      width: max-content;
    }
}
