/* You can add global styles to this file, and also import other style files */

/* :root{
  color-scheme: light dark;
} */

html,
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        /* Oculta el scroll horizontal */
    }

    body {
        color: #333;
    }




@media screen and (max-width: 650px) {
    .content {
      width: max-content;
    }
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
