<div class="separator"></div>
<main class="help_center">
    <h3>Hola, ¿Cómo podemos ayudarte?</h3>
    <div class="contact_block">
        <h1>Estamos aquí para ayudarte</h1> 
        <br>
        Siéntete libre de contactarte con el equipo para resolver cualquier duda.
        <button class="contact">Contactar</button>
    </div>

    <h2>Guías para comenzar</h2>

    <div class="squares-container">
        <div class="square-container">
            <div class="square"><img src="nest.png"></div>
            <p class="hello-text">Aprende StayNest</p>
        </div>
        <div class="square-container">
            <div style="background-color: #3C66FF;" class="square"><img src="user.png" alt=""></div>
            <p class="hello-text">¿Cómo acceder a tu cuenta y administrarla?</p>
        </div>
        <div class="square-container">
            <div class="square" style="background-color: #002FD8;"><img src="len.png" alt=""></div>
            <p class="hello-text">Análisis de Nest</p>
        </div>
    </div>

    <section class="find-more-container"> 
        <div>
            <h2>Descubre más</h2>
        </div>
        <div class="find-more">
            <div class="square-politics">
                <img src="pareja.png" alt="">
                <div class="politics_text">
                    <h1>Nuestras políticas de la comunidad</h1>
                    ¿Cómo construimos una base de confianza?
                </div>
            </div>
            
            <div class="square-suggestions">
                <img src="maleta.png" alt="">
                <div class="suggestion_text">
                    <h1>Consejos y sugerencias de seguridad</h1>
                    Recursos para ayudar a los viajeros a mantenerse seguros.
                </div>
            </div>
        </div>
    </section>
</main>
