/* Reseteo básico */
html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

body {
    font-family: Arial, sans-serif;
    color: #333;       
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #ffffff;
    color: #fff;
}

h3 {
    margin: 50px;
    text-align: center;
    font-size: 50px;
}

h2 {
    margin: 50px;
    text-align: center;
}

.logo {
    background-image: url("../Images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 50px;
    margin-top: 10px;
}

.menu {
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-btn {
    background-image: url("../Images/menu.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.context-menu {
    display: none;
    position: absolute;
    right: 70px;
    top: 50px;
    background-color: #fff;
    color: #333;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 10px;
    z-index: 100000000000;
    width: 150px;
    height: 180px;
}

.context-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.context-menu a:hover {
    background-color: #f4f4f4;
}

.context-menu hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.context-menu.active {
    display: block;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.separator {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background-color: #c0bfbf;
    z-index: 2;
    position: absolute;
    top: 70px;
}



.contact_block {
    background-color: #1c348d;
    height: 200px;
    color: #ffffff;
    width: 100%;
     
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contact_block h3{
    background-color: #d1d1d1;
}

.contact {
    position: absolute;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 40px;
    left: 1500px;
    box-shadow: 0px 14px 8px rgba(0, 0, 0, 0.2);
    border: 0px;
    transition: transform 0.2s;
}


.contact:hover {
    transform: scale(1.05);
}

.squares-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los cuadrados */
    margin-top: 20px;
}

.square-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 50px;
    background-size: contain;
    background-color: #92AAFF; /* Color de fondo predeterminado */
}

.square_1 {
    background-image: url("../Images/nest.png");
    box-shadow: 0px 14px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.square_2 {
    background-image: url("../Images/gente.png");
    background-color: #3C66FF;
    box-shadow: 0px 14px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.square_1:hover, .square_2:hover, .square_3:hover{
    transform: scale(1.05);
}

.square_3 {
    background-image: url("../Images/len.png");
    background-color: #002FD8;
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

.hello-text {
    text-align: center;
    margin-top: 10px;
}

p{
    margin-top: 10;
    font-weight: 700;
}

.find_more{
    background-color: #222222;
    width: 100%;
    height: 790px;
    margin-top: 200px;
    display: flex;
    
    align-items: center;
    
}



.find_more h2{
    color: rgb(255, 255, 255);
    margin: 50px;
    text-align:left;
    position: absolute;
    top: 1200px;
    left: 50px;
    

}

.square_politics{
    background-image: url("../Images/pareja.png");
    background-repeat: no-repeat;
    background-size: 600px;
    width: 500px;
    height: 450px;
    margin: 100px;
    align-content: end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

.politics_text{
    
    color: white;
    background-color: #171717;
    height: 100px;
    text-align: center;
    align-content: center;
    border: 1px #182D77;
    border-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.politics_text h1{
    font-size: medium;
    margin-bottom: 10px;
}

.square_suggestions{
    background-image: url("../Images/maleta.png");
    background-repeat: no-repeat;
    background-size: 600px;
    width: 500px;
    height: 450px;
    margin: 100px;
    align-content: end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}

.suggestion_text{
    
    color: white;
    background-color: #171717;
    height: 100px;
    text-align: center;
    align-content: center;
    border: 1px #182D77;
    border-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.suggestion_text h1{
    font-size: medium;
    margin-bottom: 10px;
}



.contact_text{
    color: white;
    margin-bottom: 200px;
}

.contact_text h1{
    position: absolute;
    top: 1400px;
    left: 1440px;
}

.contact_text h5{
    position: absolute;
    top: 1700px;
    left: 1485px;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    text-align: center;
}

.footer-text {
    color: #333333; /* Texto gris oscuro */
    font-size: 16px;
}