/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 60%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.menu {
    display: flex;
    align-items: center;
    position: relative;
}

.menu-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.context-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    width: 150px;
}

.context-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.context-menu a:hover {
    background-color: #f4f4f4;
}

.context-menu hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.menu-btn:hover + .context-menu {
    display: block;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
