/* Reseteo básico */
html,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* Oculta el scroll horizontal */
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #ffffff;
    color: #fff;
    flex-wrap: wrap;
}

.logo {
    background-image: url("../Images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 50px;
    margin-top: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.3);
    flex: 1;
    max-width: 600px;
    margin: 10px;
}

.search-bar input {
    border: none;
    padding: 10px;
    font-size: 14px;
    outline: none;
    width: 100%;
    margin: 10px;
    height: 20px;
}

.search-bar input[type="date"] {
    font-size: 10px;
    margin-left: 10px;
}

.search-bar input:not(:last-child) {
    border-right: 1px solid #a7a7a7;
}

.search-bar input:nth-last-child(2) {
    border-right: 1px solid #ffffff;
}

.search-button {
    background-image: url("../Images/search.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
}

.menu {
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    background-color: white;
    flex-shrink: 0; /* No permite que se reduzca el tamaño del menú */
}

.menu-btn {
    background-image: url("../Images/menu.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.context-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    color: #333;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 10px;
    z-index: 11; /* Asegura que esté sobre otros elementos */
    width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.context-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.context-menu a:hover {
    background-color: #f4f4f4;
}

.context-menu hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}


/* Mostrar el menú cuando tenga la clase 'active' */
.context-menu.active {
    display: block;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.separator {
    display: flex;
    align-items: center;
    width: 110%;
    height: 1px;
    margin-top: 20px;
    background-color: #c0bfbf;
    z-index: 2;
    position: absolute;
    top: 70px;
}

.house-gallery {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.house-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
}

.house-item {
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.house-item:hover {
    transform: scale(1.05);
}

.house-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.house-item h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #2140AE !important;
}

.house-item p {
    padding: 0 10px;
    color: #666;
    font-size: 15px;
    margin-bottom: 10px;
}

/* Decoraciones */
.decoration_1 {
    width: 100px;
    height: 300px;
    background-color: #11215B;
    position: absolute;
    left: 1900px;
    transform: rotate(-45deg);
    z-index: 0;
}

.decoration_2 {
    width: 100px;
    height: 500px;
    background-color: #182D77;
    position: absolute;
    left: 1800px;
    transform: rotate(-45deg);
    z-index: 0;
}

.decoration_3 {
    width: 100px;
    height: 1200px;
    background-color: #1D3795;
    position: absolute;
    left: 1700px;
    transform: rotate(-45deg);
    z-index: 0;
}

.decoration_4 {
    width: 90px;
    height: 1000px;
    background-color: #2140AE;
    position: absolute;
    left: 1600px;
    transform: rotate(-45deg);
    z-index: 0;
}

/* Modal */
.modal {
    display: none;  /* Oculto por defecto */
    position: fixed;
    z-index: 20; /* Aparece por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-top: 10px;
    font-weight: bold;
}

.modal-content input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-content button {
    width: 90%;
    padding: 10px;
    border: none;
    background-color: #2140AE;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #182D77;
}

form {
    margin: 0;
    padding: 0;
}

form input {
    width: 90%;
}

/* Desaparece el ícono del ojo por defecto en el input type=password */
form input::-ms-clear, form input::-ms-reveal {
    display: none;
}

.password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#togglePassword {
    cursor: pointer;
    font-size: 20px; 
    color: rgb(51, 51, 51); 
    pointer-events: auto;
}

.error-message {
    color: red;
    font-size: 12px;
}
