
    .modal-content {
        background-color: #fff;
        margin: auto auto;
        padding: 10px 20px;
        border: 1px solid #888;
        width: 90%;
        height: fit-content;
        max-width: 400px;
        border-radius: 8px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
    }

    .close {
        overflow: hidden;
        margin: 2px, 10px, 0 0;
        color: #aaa;
        float: right;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .top h2{
        text-align: start;
        padding: 0;
        margin-bottom: 5px;
    }

    .modal-content form {
        display: flex;
        flex-direction: column;
    }

    .modal-content button {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        border: none;
        background-color: #2140AE;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
    }
    .modal-content a {
        margin: 0 auto;
        color: #3a4b83;
        padding-bottom: 1px;
        cursor: pointer;
    }

    .modal-content button:hover {
        background-color: #182D77;
    }


